<form  ng-upload="complete(content)" action="/data/save_file/" >
    <div class="form-group">
        <label for="inputFile">File</label>
        <input type="file" id="inputFile" name="uploaded_file">
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRAW" id="optionsRAW" value="RAW" checked> RAW
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRAW" id="optionsRAW" value="CBH"> CBH
        </label>
    </div>
  <button type="submit" class="btn btn-default">Upload</button>
</form>
<table class="table">
    <thead>
        <tr>
            <td>Filename</td>
            <td>Network</td>
            <td>Filetype</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="f in files">
            <td>{{ f.filename }}</td>
            <td>{{ f.network }}</td>
            <td>{{ f.filetype }}</td>
        </tr>
    </tbody>
</table>

